/* body {
    font-family: Arial, sans-serif;
} */

.profile-content {
  margin-top: 20px;
}

.profile-box {
  margin-bottom: 15px;
}

.card-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.list-group-item-action:hover {
  background-color: #f8f9fa;
}

/* Style for the order table */
.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-table th {
  background-color: #f2f2f2;
}

/* Style for the card container */
.card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
}

/* Style for the buttons */
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f2f2f2;
}
